{block styles}
	<link rel="stylesheet" href="{$basePath}/izimodal/css/iziModal.min.css">
{/block}
{block scripts}
	<script src="{$basePath}/izimodal/js/iziModal.min.js"></script>
	<script>
		$(function () {
			$("#comments_modal").iziModal();

//			$('body').on('click', '[data-story-id]', function() {
//				$("#comments_modal").iziModal('open');
//				$('#comments_modal').iziModal('startLoading');
//				$.nette.ajax({
//					url: "?do=getStoryComments",
//					data: {
//						idStory: $(this).attr('data-story-id')
//					},
//					success: function (payload) {
//						$('#comments_modal').iziModal('stopLoading');
//						$("#comments_modal").iziModal('setTitle', payload.currentStory.title);
//						$("#comments_modal").iziModal('setSubtitle', payload.currentStory.creator_name);
//					},
//					complete: function () {
//					},
//					error: function () {
//
//					}
//				});
//			});
		});
	</script>
{/block}
{block pageDescription}
	Vymyslel jsi snad nějakou teorii?!<br>
	Pokud ano, tak neváhej a rozepiš se.
{/block}
{block content}
	<div class="col-sm-12">
		<div class="row justify-content-center">
			<div class="col-sm-4 d-flex justify-content-center">
				<a n:href="sort! sort => 'best'" class="theory__a">
					<div class="theory__orderBtn">Nejoblíbenější</div>
				</a>
			</div>
			<div class="col-sm-4 d-flex justify-content-center">
				<a n:href="sort! sort => 'new'" class="theory__a">
					<div class="theory__orderBtn">Nejnovější</div>
				</a>
			</div>
		</div>
		<div class="row" style="color: white;">
			<div class="col-sm-12 text-center">
				<a href="javascript:{}" id="a-create-story" class="addButton__a addButton" data-modal-form-add="storyForm">
					Přidat teorii
				</a>
			</div>
		</div>
		<div class="row">
			<div n:snippet="storyContainer" class="col-sm-12 news-holder">
				<div n:foreach="$stories as $id => $story" class="card mt-4 new-card news-item cursor-pointer" data-story-id="{$story->id}" >
					{*data-izimodal-open="#modal" data-izimodal-transitionin="fadeInDown"*}
					<div n:snippet="story-$id" class="card-body new-card-body">
						<div class="media-container">
							<div class="">
								<div class="media-text">
									<h4 class="card-title mt-2">
										<span class="theory__h__text">{$story->title}</span>
									</h4>

								<div class="theory__main__con">
									<!--<h5 class="card-title mt-2"><span class="theory__h__head">Obsah:</span></h5>-->
									{$story->body}
								</div>
								<div class="theory__footerCon">
									<div class="theory__vote__likes">
										Like {$story->votes_likes}
										{ifset $voteStories[$story->id]}
										{else}
											<span class="theory__vote__circle">
												<a n:href="voteStory! voteType => 'up', idStory => $story->id, sort => $sort, id => $id" class="ajax">+</a>
											</span>
										{/ifset}
									</div>
									<a n:if="$user->isLoggedIn()" n:href="banStory! idStory => $story->id">Ban</a>
									<div>
										<span class="theory__creator"> {$story->creator_name}</span>
									</div>
								</div>

										{*<p>*}
											{*Dislike {$story->votes_dislikes}*}
											{*{ifset $voteStories[$story->id]}*}
											{*{else}*}
												{*<a n:href="voteStory! voteType => 'down', idStory => $story->id, id => $id" class="ajax">-</a>*}
											{*{/ifset}*}
										{*</p>*}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-none">
		<div id="comments_modal">
			{snippet storyComments}
				{ifset $storyComments}
					<p>{$currentStory->body}</p>
					<span n:foreach="$storyComments as $comment">{$comment->body}</span>
					<div>
						<form n:name="commentStory" class="ajax commentStoryForm">
							<label n:name="user">Jméno hráče: </label><input n:name="user" value="">
							<label n:name="user">Text: </label><input n:name="body" value="">
							<input n:name="idStory" value="{$currentStory->id}">
							{*<div n:name="recaptcha"></div>*}
							<input n:name="submit">
						</form>
					</div>
				{/ifset}
			{/snippet}
		</div>
	</div>
	{control storyForm}
{/block}
