{block styles}

{/block}
{block scripts}
	<script>
		$(function () {
			$("#a-create-room").click(function(){
				openDialog();
			});
		});
		function openDialog(){
			vex.dialog.open({
				message: 'Vytvoř si svou roomku',
				input: [
					'Jméno roomky: <input name="title" type="text" placeholder="Jméno roomky" required />',
					'Tvoje jméno: <input name="user" type="text" placeholder="Tvoje jméno" required />',
					'Mód: <select name="mode">' + $('#frm-createRoomForm-mode').html() + '</select><br>',
					'Popis: <input name="description" type="text" placeholder="Popis" required />'
				].join(''),
				buttons: [
					$.extend({}, vex.dialog.buttons.YES, { text: 'Vytvořit' }),
					$.extend({}, vex.dialog.buttons.NO, { text: 'Zrušit' })
				],
				callback: function (data) {
					if (!data) {
						console.log('Cancelled')
					} else {
						$("#frm-createRoomForm input[name=title]").val(data.title);
						$("#frm-createRoomForm input[name=user]").val(data.user);
						$("#frm-createRoomForm input[name=description]").val(data.description);
						$("#frm-createRoomForm input[name=mode]").val(data.mode);
						$("#frm-createRoomForm").submit();
					}
				}
			});
		}
	</script>
{/block}
{block pageDescription}
	Už tě nebaví hrát sám, a rád by sis našel parťáka na hraní?<br>
	Neváhej, založ lobby, a počkej až se k tobě někdo přidá!
{/block}
{block content}
	<div class="col-sm-5">
		<div class="row" style="color: white;">
			<div class="col-sm-10">
				<a href="javascript:{}" id="a-create-room">
					Vytvořit roomku
				</a>
			</div>
		</div>
		<div n:foreach="$rooms as $room" class="row" style="color: white;">
			<div class="col-sm-10">
				<a n:href="Lobby:room $room->id">
					{$room->title}
				</a>
			</div>
		</div>
	</div>
	<div style="display: none;">
		{control createRoomForm}
	</div>
{/block}
