{block title} Lobby{/block}
{block styles}
	<link rel="stylesheet" href="{$basePath}/css/room.css?v={$version}">
{/block}
{block scripts}
	<script>
		var messageCount = 0;
		$(function () {
			scrollChat();
			setInterval(function () {
				scrollChat();
				$.nette.ajax({
					url: "?do=refreshChat",
					data: {
						messageCount: messageCount,
						roomId: $("#frm-chatForm input[name=id_room]").val()
					},
					success: function (payload) {

					},
					error: function () {

					}
				});
			}, 2000);
		});
		function scrollChat() {
			$('#chat').animate({
				scrollTop: $('#chat').get(0).scrollHeight
			}, 1000);
		}
	</script>
{/block}
{block content}
	<div class="col-sm-2" style="color: white;">

	</div>
	<div class="col-sm-5">
		{snippet chat}
			<div class="chat" id="chat">
				<ul id="ul-chat" style="color: white;">
					<li n:foreach="$messages as $message">
						{$message->user}: {$message->message}
					</li>
				</ul>
			</div>
		{/snippet}
		<form n:name="chatForm" class="ajax">
			<input n:name="message">
			<input n:name="submit" value="Odeslat">
			<input n:name="id_room" value="{$roomId}">
			<input n:name="user" value="user">
		</form>
	</div>
{/block}
