{block styles}
	<style>
		#challenge{
			display: none;
		}
		#lama{
			display: block;
		}
	</style>
{/block}
{block scripts}
	<script>
		setTimeout(function(){
			var $lama = $('#lama');
			var $challenge = $('#challenge');
			$lama.css('display', 'none');
			$challenge.css('display', 'block');
		}, 3000);
	</script>
{/block}
{block content}
	<div class="row justify-content-cente" style="color: white;">
		<div class="col-sm-4 d-flex justify-content-center">
			<div class="">
				<a n:href=":Generator:challenge" class="addButton__a addButton">náhodný challenge</a>
			</div>
		</div>
		<div class="col-sm-4 d-flex justify-content-center">
			<div class="">
				<a n:href=":Generator:map" class="addButton__a addButton">náhodná lokace</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12 justify-content-center">
		<div class="col-sm-12 news-holder justify-content-center">
			<div id="challenge" class="card mt-4 new-card news-item">
				<div class="card-body new-card-body">
					<div class="media-container">
						<div class="media">
							<div class=" media-text">
								<h4 class="card-title mt-2 cursor-pointer">{$challenge->title}</h4>
								<h4 class="card-text">Tvůj úkol zní:</h4>
								<p class="card-text">{$challenge->body}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center" style="color: white;">
			<div class="col-sm-12 news-holder justify-content-center">
				<img id="lama" style="margin: 0 auto; width: 200px; height: auto" src="{$basePath}/assets/images/web/lama_fast.gif">
			</div>
		</div>
	</div>
{/block}