{block styles}
	<style type="text/css">
		.challenge-container {
			position: relative;
			height: 120px;
			overflow: hidden;
			border-radius: 20px;
			box-shadow: 0 0 25px #55376080;
		}
		#feeds {
			position: relative;
			margin: 0;
			padding: 0;
			top: -200px;
		}
		.challenge__li{
			height: 120px;
			background-color: #3f3b40;
			padding: .5rem 2rem;
			color: #eee;
			font-size: 1rem;
			font-weight: 500;
		}
		.challenge__hr{
			margin: 0;
			height: .1px;
			background: #fff;
		}
	</style>
{/block}
{block scripts}
	<script src="{$basePath}/assets/vendor/roulette.js/roulette.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#feeds").css("top", - $('#feeds').height() + $('.challenge-container').height() + "px");
			$('[data-roulette-start]').click(function(){
				ticker();
			});
		});

		function ticker() {
			console.log(Math.random);
			$('#feeds').animate({
				top: - Math.floor((Math.random() * $('#feeds li').length )) * $('.challenge-container').height() + "px"
			}, 6000, function () {
//				$(this).animate({
//					top: - $('#feeds').height() + $('.challenge-container').height() + "px"
//				}, 300);
				//ticker();
			});
		}
	</script>
{/block}
{block pageDescription}
	Už tě nebaví samotná hra, a rád by sis ji trošku okořenil?<br>
	Vygeneruj si úkol, a zkus se s ním poprat!
{/block}
{block content}
	<div n:if="$user->loggedIn" class="row" style="color: white;">
		<div class="row" style="color: white;">
			<div class="col-sm-12 text-center">
				<div>
					<a href="javascript:{}" id="a-add-challenge" class="addButton__a addButton" data-modal-form-add="challengeForm">
						Přidat úkol
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="row" style="color: white;">
			<div class="col-sm-4 d-flex justify-content-center">
				<div class="">
					<a n:href=":Generator:challenge" class="addButton__a addButton">náhodný challenge</a>
				</div>
			</div>
			<div class="col-sm-4 d-flex justify-content-center">
				<div class="">
					<a n:href=":Generator:map" class="addButton__a addButton">náhodná lokace</a>
				</div>
			</div>
		</div>
		{*<div class="col-sm-12">*}
			{*<div class="challenge-container mt-5 mb-5">*}
				{*<ul class="feeds" id="feeds">*}
					{*<li n:for="$i = 0; $i < 5 * count($challenges); $i++" class="challenge__li">*}
						{*{var $challenge = $challenges[array_rand($challenges)]}*}
						{*<h5>{$challenge->title}</h5>*}
						{*<hr class="challenge__hr">*}
						{*Tvůj úkol zní:<br>*}
						{*{$challenge->body}*}
					{*</li>*}
				{*</ul>*}
			{*</div>*}
			{*<button data-roulette-start>start</button>*}
		{*</div>*}
	</div>
	<div n:if="$user->loggedIn" class="col-sm-12 news-holder">
		<div n:foreach="$challenges as $challenge" class="card mt-4 new-card news-item">
			<div class="card-body new-card-body">
				<div class="media-container">
					<div class="media">
						{*<div class=" media-img">*}
						{*<img class="img-responsive lazy" src="https://cdn2.unrealengine.com/Fortnite/fortnite-game/battleroyalenews/v44+HF/BR04_MOTD_SkyStalker-256x256-749627489750624b7488f6af0cef522ab9ff1381.png" style="">*}
						{*</div>*}
						<div class=" media-text">
							<h4 class="card-title mt-2 cursor-pointer"
								data-modal-form-edit="challengeForm"
								data-modal-form-id="{$challenge->id}"
								data-modal-form-title="{$challenge->title}"
								data-modal-form-body="{$challenge->body}"
							>
								{$challenge->title}
							</h4>
							<p class="card-text">{$challenge->body}</p>
						</div>
						<a n:if="$user->loggedIn" n:href="deleteChallenge! idChallenge => $challenge->id">Smazat</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div n:if="$user->loggedIn" class="d-none">
		{control challengeForm}
	</div>
{/block}
