{block styles}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
		  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		  crossorigin=""/>
	<style>
		#map{
			display: none;
		}
		#lama{
			display: block;
		}
	</style>
{/block}
{block scripts}
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
			integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
			crossorigin=""></script>
	<script>
		var backgroundImgUrl = basePath + "/assets/images/web/S5Map.png";
		var center = [0, 0];
		var map = L.map('map', {
			minZoom: 1,
			maxZoom: 1,
			zoomControl: false,
			center: center,
			zoom: 1,
			crs: L.CRS.Simple
		});

		var circleIcon = L.Icon.extend({
			options: {
				iconSize:     [40, 40],
				iconUrl: basePath + "/assets/images/web/circle.png"
				//iconUrl: basePath + '/assets/images/web/circle.gif'
			}
		});

		var challengeCoordinates = [
			[264, 60],
			[240, 43],
			[213, 84],
			[248, 120],
			[237, 160],
			[240, 222],
			[213, 246],
			[202, 198],
			[179, 219],
			[179, 263],
			[150, 283],
			[150, 250],
			[141, 223],
			[150, 180],
			[119, 170],
			[125, 267],
			[80, 244],
			[35, 230],
			[47, 206],
			[28, 170],
			[71, 180],
			[56, 129],
			[41, 106],
			[77, 108],
			[112, 109],
			[152, 113],
			[187, 117],
			[190, 130],
			[115, 69],
			[155, 72],
			[143, 42],
			[163, 26]
		];
		setTimeout(function(){
			var $lama = $('#lama');
			var $map = $('#map');
			$lama.css('display', 'none');
			$map.css('display', 'block');
			var w = 300, h = 300, url = backgroundImgUrl;
			L.imageOverlay(url, [[0, 0], [w, h]]).addTo(map);
			map.setMaxBounds([[0, 0], [w, h]]);
			//L.marker([50.5, 30.5]).addTo(map);
			L.marker(challengeCoordinates[Math.floor(Math.random()*challengeCoordinates.length)], { icon: new circleIcon()}).addTo(map);
		}, 3000);
	</script>
{/block}
{block content}
	<div class="row justify-content-cente" style="color: white;">
		<div class="col-sm-4 d-flex justify-content-center">
			<div class="">
				<a n:href=":Generator:challenge" class="addButton__a addButton">náhodný challenge</a>
			</div>
		</div>
		<div class="col-sm-4 d-flex justify-content-center">
			<div class="">
				<a n:href=":Generator:map" class="addButton__a addButton">náhodná lokace</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12 justify-content-center" style="color: white;">
		<div class="col-sm-12 news-holder justify-content-center">
			<div id="map" style="position: relative; width: 600px; height: 600px;" class="map"></div>
			<div class="row justify-content-center" style="color: white;">
				<div class="col-sm-12 news-holder justify-content-center">
					<img id="lama" style="margin: 0 auto; width: 200px; height: auto" src="{$basePath}/assets/images/web/lama_fast.gif">
				</div>
			</div>
		</div>
	</div>
{/block}