{block title} Obrázky{/block}
{block styles}
	<link rel="stylesheet" href="{$basePath}/lightgallery/dist/css/lightgallery.css">

	<!--<style>
		.grid-container {
			display: grid;
			grid-template-columns: auto auto auto;
			padding: 10px;
		}
		.grid-item {
			border: 1px solid #0c0b30;
			/*padding: 10px;*/
			margin: 1px;
			font-size: 30px;
			text-align: center;
		}
	</style>-->
{/block}
{block scripts}
	<script src="{$basePath}/lightgallery/dist/js/lightgallery.min.js"></script>

	<!-- lightgallery plugins -->
	{*<script src="{$basePath}/lightgallery/dist/js/lg-thumbnail.min.js"></script>*}
	{*<script src="{$basePath}/lightgallery/dist/js/lg-fullscreen.min.js"></script>*}

	<script>
		lightGallery(document.getElementById('lightgallery'));
	</script>
{/block}
{block pageDescription}
	Nevíš co si dát na pozadí?<br>
	Vyber si svůj oblíbený skin ve full HD kvalitě!
{/block}
{block content}
	<div class="row">
		<div class="col-md-12">
			<div id="lightgallery" class="grid-container">
				<a n:foreach="$pictures as $picture" href="{$basePath}/assets/images/gallery/{$picture->getFilename()}"
													 class="grid-item">
					<img src="{$basePath}/assets/images/thumbs/{$picture->getFilename()}"
						 alt="{$picture->getFilename()}" style="width: 200px; height: auto;">
				</a>
			</div>
		</div>
	</div>
{/block}
