{block styles}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
		  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		  crossorigin=""/>
{/block}
{block scripts}
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
			integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
			crossorigin=""></script>
	<script>
		var markers = {$markers};
		markers = JSON.parse(markers);
	</script>
	<script src="{$basePath}/js/map.js?v={$version}"></script>
{/block}
{block pageDescription}
	Jsi nováček a nevíš kde jsou truhly a další bonusy?<br>
	V menu si vyber co potřebuješ, a ihned do hry!
{/block}
{block content}
	<div class="row">
		<div class="col-sm-12 news-holder">
			<div id="map" style="position: relative; width: 600px; height: 600px;" class="map">

			</div>
		</div>
	</div>
{/block}
