{block title} {$playerProfie->username}{/block}
{block styles}
	<style>
		.testText {
			color: white;
		}
		.page-title {
			display: none;
		}
	</style>
{/block}
{block scripts}
{/block}
{block content}
	<div class="row player">
		<div class="col-12 player__main">
			<div class="player__name__bigH">
				{$playerProfie->username}
			</div>
			<div class="player__all__cont">
				<div class="player__all__item">
					<span class="player__today__main__h">Počet výher: </span><span class="player__today__main__text">{$playerProfie->totals->wins}</span>
				</div>
				<div class="player__all__item">
					<span class="player__today__main__h">Počet zabití: </span><span class="player__today__main__text">{$playerProfie->totals->kills}</span>
				</div>
				<div class="player__all__item">
					<span class="player__today__main__h">Celkový WIN RATE: </span><span class="player__today__main__text">{$playerProfie->totals->winrate}</span>
				</div>
				<div class="player__all__item">
					<span class="player__today__main__h">KD: </span><span class="player__today__main__text">{$playerProfie->totals->kd}</span>
				</div>
			</div>

			{*<div class="player__today">*}
				{*<div class="player__today__h">*}
					{*<hr>*}
					{*<span class="player__today__h__text">dnes</span>*}
				{*</div>*}
				{*<div class="player__today__main">*}
					{*<div class="player__today__main__container">*}
						{*<span class="player__today__main__h">killy: </span><span class="player__today__main__text">356</span>*}
					{*</div>*}
					{*<div class="player__today__main__container">*}
						{*<span class="player__today__main__h">výhry: </span><span class="player__today__main__text">10</span>*}
					{*</div>*}
					{*<div class="player__today__main__container">*}
						{*<span class="player__today__main__h">dnešní kd: </span><span class="player__today__main__text">2.56</span>*}
					{*</div>*}
				{*</div>*}
			{*</div>*}
			<div class="row">
				<div class="col-md-4 mb-5">
					<div class="player__all__gameMode">
						<img src="{$basePath}/assets/images/profile/solo.png" class="img--profile img--rotate mb-2">
						<div>
							<span class="player__today__main__h">Počet zabití: </span><span class="player__today__main__text">{$playerProfie->stats->kills_solo}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet výher: </span><span class="player__today__main__text">{$playerProfie->stats->placetop1_solo}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet umístění v top 10: </span><span class="player__today__main__text">{$playerProfie->stats->placetop10_solo}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet umístění v top 25: </span><span class="player__today__main__text">{$playerProfie->stats->placetop25_solo}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet odehraných zápasů: </span><span class="player__today__main__text">{$playerProfie->stats->matchesplayed_solo}</span>
						</div>
						{*<div>*}
							{*<span class="player__today__main__h">kd: </span><span class="player__today__main__text">{$playerProfie->stats->kd_solo}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">win rate: </span><span class="player__today__main__text">{$playerProfie->stats->winrate_solo}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">score: </span><span class="player__today__main__text">{$playerProfie->stats->score_solo}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">Počet odehraných minut: </span><span class="player__today__main__text">{$playerProfie->stats->minutesplayed_solo}</span>*}
						{*</div>*}
					</div>
				</div>
				<div class="col-md-4 mb-5">
					<div class="player__all__gameMode">
						<img src="{$basePath}/assets/images/profile/duo.png" class="img--profile img--rotate img--rotate mb-2">
						<div>
							<span class="player__today__main__h">Počet zabití: </span><span class="player__today__main__text">{$playerProfie->stats->kills_duo}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet výher: </span><span class="player__today__main__text">{$playerProfie->stats->placetop1_duo}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet umístění v top 5: </span><span class="player__today__main__text">{$playerProfie->stats->placetop5_duo}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet umístění v top 12: </span><span class="player__today__main__text">{$playerProfie->stats->placetop12_duo}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet odehraných zápasů: </span><span class="player__today__main__text">{$playerProfie->stats->matchesplayed_duo}</span>
						</div>
						{*<div>*}
							{*<span class="player__today__main__h">kd: </span><span class="player__today__main__text">{$playerProfie->stats->kd_duo}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">win rate: </span><span class="player__today__main__text">{$playerProfie->stats->winrate_duo}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">score: </span><span class="player__today__main__text">{$playerProfie->stats->score_duo}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">Počet odehraných minut: </span><span class="player__today__main__text">{$playerProfie->stats->minutesplayed_duo}</span>*}
						{*</div>*}
					</div>
				</div>
				<div class="col-md-4 mb-5">
					<div class="player__all__gameMode">
						<img src="{$basePath}/assets/images/profile/squad.png" class="img--profile img--rotate img--rotate mb-2">
						<div>
							<span class="player__today__main__h">Počet zabití: </span><span class="player__today__main__text">{$playerProfie->stats->kills_squad}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet výher: </span><span class="player__today__main__text">{$playerProfie->stats->placetop1_squad}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet umístění v top 3: </span><span class="player__today__main__text">{$playerProfie->stats->placetop3_squad}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet umístění v top 6: </span><span class="player__today__main__text">{$playerProfie->stats->placetop6_squad}</span>
						</div>
						<div>
							<span class="player__today__main__h">Počet odehraných zápasů: </span><span class="player__today__main__text">{$playerProfie->stats->matchesplayed_squad}</span>
						</div>
						{*<div>*}
							{*<span class="player__today__main__h">kd: </span><span class="player__today__main__text">{$playerProfie->stats->kd_squad}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">win rate: </span><span class="player__today__main__text">{$playerProfie->stats->winrate_squad}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">score: </span><span class="player__today__main__text">{$playerProfie->stats->score_squad}</span>*}
						{*</div>*}
						{*<div>*}
							{*<span class="player__today__main__h">Počet odehraných minut: </span><span class="player__today__main__text">{$playerProfie->stats->minutesplayed_squad}</span>*}
						{*</div>*}
					</div>
				</div>
			</div>
		</div>
	</div>

{/block}
