<div n:foreach="$shopItems as $shopItem" class="col-xl-6 col-lg-12 col-md-4 col-sm-6 col-6" >
	<div class="card shop-card rarity-{$shopItem->rarity}">
		<img src="{$shopItem->images->icon}" class="shop-card-img-top">
		<div class="card-img-overlay">
			<div class="card-body itemdesc">
				<h4 class="card-title itemname"><span>{$shopItem->name}</span></h4>
				<p class="card-text itemprice">
					<img style="width:25px" src="https://image.fnbr.co/price/icon_vbucks.png" alt="{$shopItem->name}">
					{$shopItem->price}
				</p>
			</div>
		</div>
	</div>
</div>