{block styles}

{/block}
{block scripts}
	{if $user->loggedIn}
	<script>
		$(function () {
			$("#a-add-new, [data-new-id]").click(function(){
                var $this = $(this);
                var formName = $this.attr('data-modal-form-add');
                var formSelector = '[modal-form=' + formName + ']';
				$(formSelector + " input[name=apiTime]").val(null);
				$(formSelector + " input[name=apiImage]").val(null);
			});
			$("[data-publish-new-api-time]").click(function(){
                var $this = $(this);
                var formName = $this.attr('data-modal-form-edit');
                var formSelector = '[modal-form=' + formName + ']';
				$(formSelector + " input[name=id]").val('0');
				$(formSelector + " input[name=addOrEdit]").val('add');
            	$(formSelector + " input[name=apiTime]").val($(this).attr('data-publish-new-api-time'));
            	$(formSelector + " input[name=apiImage]").val($(this).attr('data-publish-new-image'));
            });
		});
	</script>
	{/if}
{/block}
{block pageDescription}
	To nejnovější ze světa Fortnitu najdeš zde!
{/block}
{block content}
	<div n:if="$user->loggedIn" class="row" style="color: white;">
		<div class="col-sm-12 text-center">
			<div>
				<a href="javascript:{}" id="a-add-new" class="addButton__a addButton" data-modal-form-add="fortniteNewForm">
					Přidat novinku
				</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12 news-holder">
		{if $user->loggedIn}
			<div n:foreach="$apiNews as $new" class="card mt-4 new-card news-item">
				<div class="card-body new-card-body">
					<div class="media-container">
						<div class="media">
							<div n:if="$new->image != null" class=" media-img">
								<img class="img-responsive lazy" src="{$new->image}">
							</div>
							<div class=" media-text media-text--maxW450px">
								<h4 class="card-title mt-2 cursor-pointer">{$new->title}</h4>
								<p class="card-text">{$new->body}</p>
							</div>
						</div>
						<div>
							<a href="javascript:{}"
							   data-modal-form-edit="fortniteNewForm"
							   data-modal-form-title="{$new->title}"
							   data-modal-form-body="{$new->body}"
							   data-publish-new-image="{$new->image}"
							   data-publish-new-api-time="{$new->time}">
								Publikovat
							</a>
						</div>
					</div>
				</div>
			</div>
		{/if}
		<div n:snippet="news" data-ajax-append="true">
			<div n:foreach="$news as $new" class="card mt-4 new-card news-item">
				<div class="card-body new-card-body">
					<div class="media-container">
						<div class="media">
							<div n:if="$new->image != null" class=" media-img">
								<img class="img-responsive lazy" src="{$new->image}">
							</div>
							<div class=" media-text">
								<h4 class="card-title mt-2 cursor-pointer"
									data-modal-form-edit="fortniteNewForm"
									data-modal-form-id="{$new->id}"
									data-modal-form-title="{$new->title}"
									data-modal-form-body="{$new->body}"
								>
									{$new->title}
								</h4>
								<p class="card-text">{$new->body}</p>
							</div>
						</div>
						<div n:if="$user->loggedIn">
							{*<a n:href="sortUp! idNew => $new->id">Nahoru</a>*}
							{*<a n:href="sortDown! idNew => $new->id">Dolů</a>*}
							<a n:href="deleteNew! idNew => $new->id">Smazat</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div n:snippet="newsOffsetLink" class="m-4 col-sm-12 text-center">
			<a n:href="appendNews! $newsOffset" class="ajax addButton__a addButton">Načíst další</a>
		</div>
	</div>
	<div n:if="$user->loggedIn" class="d-none">
		{control fortniteNewForm}
	</div>
{/block}