{block content}
<a href="javascript:{}" data-modal-form-add="modalForm">Dialog</a>
<a href="javascript:{}" data-modal-form-edit="modalForm"
   						data-modal-form-title="nadpis"
  						data-modal-form-body="obsah"
>
	Edit
</a>
{control modalForm}