<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Fortnite funpage">

	{*<title>{ifset title}{include title|stripHtml} | {/ifset}Fortnite club</title>*}
	<title>
		{ifset $title}
			{$title} |
		{else}
			{ifset title}
				{include title|stripHtml} |
			{/ifset}
		{/ifset}
		Fortnite club
	</title>

	<link rel="stylesheet" href="{$basePath}/bootstrap/dist/css/bootstrap.min.css">
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

	<link rel="stylesheet" href="{$basePath}/vex-4.0.1/dist/css/vex.css"/>
	<link rel="stylesheet" href="{$basePath}/vex-4.0.1/dist/css/vex-theme-flat-attack.css"/>
	<link rel="stylesheet" href="{$basePath}/cookieconsent/build/cookieconsent.min.css">

	<link rel="stylesheet" href="{$basePath}/css/homepage.css?v={$version}">
	{ifset styles}{include styles}{/ifset}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="body">
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div class="wrapper">
	<header class="trn-header at-top" id="trn-header" data-controller="SiteApiApp" data-action="Index">
		<nav class="navM">
			<div class="container">
				<div class="row navM__row">
					<div class="col-2 d-none d-lg-block">
						<a n:href=":Homepage:">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							 x="0px" y="0px"
							 viewBox="0 0 4249.6 1323.6" enable-background="new 0 0 4249.6 1323.6" xml:space="preserve"
							 class="fortLogo">
									<path d="M73.7,92.8c0,0,203.1,3.1,463.5-2.1c0,0-20.3,182.4-21.6,246.9c0,0-53.7-3-189.8,1c0,0-2.3,70.2-1,187.8
										c15.9,0,63.4,3,165.2-1c1.3,0.4-4.5,105.2-5.1,240.1c0,0-37.2-1.6-160.1,1c1.3,79.3-2.6,321.9,0,419.7
										c-120.9,20.9-250.2,46.6-250.2,46.6S78.4,637.5,73.7,92.8z M1409.4,807.7l0,3.5l-10.3,292.8c0,0-95.3-2.9-236.7-0.4
										c0,0,1.3-383.7,0-940.1c0,0,244.2,0,306.3,0c151.2,0,266,155.7,266,322.7c0,115-35.3,203.8-104,252.8c10.6,34.3,42.4,155,123,377
										c0,0-88.2,13.1-246.7,22.4C1507,1138.4,1464.9,1011.3,1409.4,807.7z M1478,502.4c0-52-15.3-131.2-74.8-125.9
										c1.3,138.7-0.2,260.5-0.2,260.5C1454.6,635.6,1478,560,1478,502.4z M1743.1,165c0,0,308.4,24.4,514.3,40.4c0,0-1.3,92.7,0,240.7
										c0,0-49.9-0.3-137.1-0.3c0,149.4-4.2,315.9-0.3,652.8c0,0-86.8-4-246.7,0c0,0,3.9-266.9,0-693.7l-130.2-0.5
										C1743.1,404.3,1747.1,335.5,1743.1,165z M2286.4,196.8c0,0,79.6-17.6,197.2-40.9c0,0,63.4,158.7,174,433.1
										c-5.3-107.1-13.7-212.9-32.2-442.9c0,0,96.4,1.3,229.9,0c0,0,1.4,371.8,6.6,958.5c0,0-45,4.1-193.1,15.9c0,0-64.5-157.1-169.5-409.8
										c2.6,91.1,0.6,188.8,12.5,376.4c0,0-89.4-0.5-225.5-0.5C2286.4,1086.7,2286.4,730.4,2286.4,196.8z M2914.1,191.1
										c0,0,87.8,1.3,254.5,0c0,0-4.2,465,0,940.5c0,0-84.1-1.3-255,0C2913.6,1131.7,2921.1,703.6,2914.1,191.1z M3197.1,237.7
										c0,0,236.2-11.4,522-27.1c0,0-1.3,91.7,0,239.8c0,0-55.5,0-140.1,0c0,140-4.4,394-0.4,709.8c0,0-86.3-4-246.2,0
										c0,0,3.1-266.1-0.9-682.3c-42.3,0-92.2-1.7-134.5-0.4C3197.1,477.4,3201.1,408.2,3197.1,237.7z M3751.2,142.5
										c0,0,181.3-14.1,424.6-35.7c0,0-4,137.8,0,275.2c0,0-96.8,1.3-181.3,6.6c0,0-2.3,74.1-0.9,152.2c9.3,0,50.5,2.6,155,0
										c0,0-1.7,89.3,0.9,218.8c0,0-64.5-0.4-153.1,0.9c0,0-3,132.6,0.9,190.7c0,0,68.8,3.5,178.5,0.9c0,0,0,108.8,0,255.5l-424.6-31.9
										C3751.2,1175.6,3751.2,663.1,3751.2,142.5z M523.9,655.4c0-292,60.7-494.2,298.6-494.2c236.1,0,306.1,184.6,306.1,493.9
										c-2.6,346.3-115.5,469.5-304.8,469.5C617.4,1124.5,525.2,960.6,523.9,655.4z M863.5,643.5c0-257.7-20.8-285.4-39.6-285.4
										c-20.3,0-39.7,39.6-39.7,294.6c0,257.7,22.4,279.6,43.1,279.6C836.8,932.4,863.5,913.1,863.5,643.5z"
										  fill="white"/>
								</svg>
						</a>
					</div>
					<div class="col-12 col-lg-10">
						<div id="menuButton" class="d-flex d-lg-none menuButton">
							<div id="menuSvg">
								<svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1"
									 viewBox="0 0 32 32" width="32px" xml:space="preserve"
									 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path
											d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
											fill="white"/></svg>
							</div>
						</div>
						<div id="menuCon" class="navM__container">
							{cache}
							<div n:foreach="$modules as $key => $module" class="navM__item">
								{if $key == 'Homepage'}
									<a n:href=":Homepage:">{$module->name}</a>
								{elseif $key == 'Lobby'}
									<a href="Javascript:{}">{$module->name}</a>
								{else}
									<a href="{$basePath}/{$module->url}/">{$module->name}</a>
								{/if}
							</div>
							{/cache}
							<div n:if="$user->loggedIn" class="navM__item"><a n:href="Logout!">Odhlásit se</a></div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div id="topBar" class="top-bar">
			<div class="search" id="trn-search">
				<div class="search-box">
					<div class="search-icon">
						<i class="ion ion-android-search"></i>
					</div>
					<input class="search-field" type="text" placeholder="Vyhledat své score (KD)" id="trn-searchfield">
				</div>
				<div class="suggestion-list" style="display: none;">
					{*<span class="suggestion-label">Recent Players</span>*}
					{*<ul id="suggestion-list"><li class="suggestion-item"><a href="/profile/pc/Ninja"><i class="ion ion-social-windows"></i> Ninja</a></li></ul>*}
					<span class="suggestion-label">Hráč nenalezen</span>
				</div>
			</div>
		</div>
	</header>
	<main class="content main">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-md-12 col-sm-5 page-title">
									<h1 class="item-shop-title">
										{ifset $title}
											{$title}
										{else}
											{ifset title}
												{include title}
											{/ifset}
										{/ifset}</h1>
									<hr class="hr-item-shop-title">
								</div>
								<div class="col-md-12 col-sm-5 page-description">
									{ifset pageDescription}{include pageDescription}{/ifset}
								</div>
								{ifset content}{include content}{/ifset}
								<div class="abtlikebox">
									<div class="fb-group"
										 data-href="https://www.facebook.com/groups/fortnitebattleroyaleczsk/"
										 data-width="280"
										 data-show-social-context="true"
										 data-show-metadata="false">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="row">
						<div class="col-md-12">
							<h3 class="item-shop-title h3--h1">Item Shop</h3>
							<hr class="hr-item-shop-title">
						</div>
					</div>
					<div class="row shop-row">
						{control fnbrItemShop}
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{$basePath}/js/jquery.cookie.js"></script>
<script src="{$basePath}/js/netteForms.js"></script>
<script src="{$basePath}/js/nette.ajax.js-master/nette.ajax.js"></script>
{*<script src="{$basePath}/js/fuckblock/fuckblock.js"></script>*}
<script>
	$(function () {
		$.nette.init();
	});
	var basePath = {$basePath};
</script>
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v3.0&appId=2002509843106202&autoLogAppEvents=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<script src="{$basePath}/js/fuckblock/fuckblock-init.js?v={$version}"></script>
<script src="{$basePath}/vex-4.0.1/dist/js/vex.combined.min.js"></script>
<script src="{$basePath}/cookieconsent/build/cookieconsent.min.js"></script>
<script src="{$basePath}/js/gdpr.js?v={$version}"></script>
<script src="{$basePath}/js/searchEngine.js?v={$version}"></script>
<script src="{$basePath}/js/menu-open.js?v={$version}"></script>
<script>
	vex.defaultOptions.className = 'vex-theme-flat-attack'
</script>
<script src="{$basePath}/js/modal-form.js?v={$version}"></script>
{ifset scripts}{include scripts}{/ifset}
</body>
</html>
