@import "   https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans";

/*
body {
    background-color: #1e1e1e;
}*/
.shop-row {
    //background-color: #f6f90d;
    //padding: 10px;
    padding-top: 5px;
}

.shop-row::-webkit-scrollbar {
    width: 16px;
    border: 1px solid #363636;
    border-radius: 10px;
}

/* Track */
.shop-row::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.shop-row::-webkit-scrollbar-thumb {
    background: #363636;
    border-radius: 10px;
}

/* Handle on hover */
.shop-row::-webkit-scrollbar-thumb:hover {
    background: #3c294f;
}

@media (min-width: 768px) {
    .shop-row{
        overflow-y: scroll;
        height: 47%;
    }
}

@media (min-width: 992px) {
    .shop-row{
        height: 570px;
    }
}

@media (min-width: 1200px) {
    .shop-row{
        height: 500px;
        overflow-y: scroll;
    }
}

.shop-card {
    margin-bottom: 15px;
}
.shop-card:hover {
    outline: 5px solid #ff0;
}
.shop-card:hover img.shop-card-img-top {
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
}
.shop-card img{
    width: 100%;
    height: auto;
}

.new-card {
    background-color: #343434;
}
.new-card-body {
    background-color: #222;
    padding: .5rem;
}
.media-img {
    padding-right: 0;
    /*height: 186px;*/
    width: 186px;
    overflow: hidden;
    display: block;
    margin-bottom: 15px;
}
.media-img img {
    text-align: center;
    margin-left: -35px;
    display: block;
    width: 100%;
    height: auto;
}
.media-text {
    color: white;
    max-width: 100%;
}
.media{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
@media (min-width: 768px) {
    .media{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .media-img{
        margin-bottom: 0px;
    }
    .media-text{
        padding-left: 10px;
        padding-right: 10px;
    }
    .media-text--maxW450px{
        max-width: 450px;
    }
}

.card-img-overlay {
    padding: 0;
}
.itemdesc {
    background: rgba(0,0,0,.3);
    position: absolute;
    width: 100%;
    bottom: 0;
}
.itemname {
    font-family: luckiest guy,Lato,Roboto,Calibri,Arial;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    color: white;
    transform: scale(1,1.3);
    -webkit-transform: scale(1,1.3);
    -moz-transform: scale(1,1.3);
    -ms-transform: scale(1,1.3);
    -o-transform: scale(1,1.3);
}
.itemprice {
    font-family: luckiest guy,Lato,Roboto,Calibri,Arial;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    margin-top: -12px;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    color: white;
}
.card-text:last-child {
     margin-bottom: 0;
 }
.rarity-legendary, .shop-card[data-rarity=legendary] {
    background: radial-gradient(#d37841,#78371d);
    border: 2px solid #e98d4b;
    overflow: hidden;
}
.rarity-epic, .shop-card[data-rarity=epic] {
    background: radial-gradient(#b15be2,#4b2483);
    border: 2px solid #e95eff;
    overflow: hidden;
}
.rarity-rare, .shop-card[data-rarity=rare] {
    background: radial-gradient(#49acf2,#143977);
    border: 2px solid #37d1ff;
    overflow: hidden;
}
.rarity-uncommon, .shop-card[data-rarity=uncommon] {
    background: radial-gradient(#60aa3a,#175117);
    border: 2px solid #87e339;
    overflow: hidden;
}
.item-shop-title {
    font-family: luckiest guy,Lato,Roboto,Calibri,Arial;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    color: white;
}
.hr-item-shop-title{
    border-color: white;
    margin-top: 0;
}
.facebook-logo {
    position: fixed;
    top: 320px;
    right: 0;
    width: auto;
    height: 150px;
    //transform: rotate(270deg);
    margin: 0;
}

.modal {
    margin-top: 101px;
}
.trn-header {
    z-index: 20;
    position: fixed;
    left: -3px;
    right: -3px;
    top: 0;
    padding: 0 3px 0 3px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #efefef;
    transition: all 0.3s ease, top 0.2s ease-in-out;
    min-height: 51px;
    background-color: #332d42!important;
}
.trn-header.at-top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}
.trn-header.solid-bg,
.trn-header:not(.at-top) {
    background: #272727;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
.trn-header.nav-up {
    top: -150px;
}
.trn-header a {
    outline: none;
}
.trn-header .top-bar {
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    //height: 105px;
}

.top-bar--hide{
    display: none!important;
}

.trn-header .top-bar .branding {
    display: flex;
    user-select: none;
    cursor: default;
    //min-width: 230px;
}
.trn-header .top-bar .branding .logo {
    padding: 8px;
    cursor: pointer;
    border-radius: 2px;
    transition: all .2s ease;
}
.trn-header .top-bar .branding .logo img {
    height: 105px;
}
.trn-header .top-bar .branding .logo:active {
    background: rgba(255, 255, 255, 0.1);
}
.trn-header .top-bar .branding .title {
    padding: 8px;
    text-transform: uppercase;
    white-space: nowrap;
}
.trn-header .top-bar .branding .title .site-name {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #F1ED62;
    text-decoration: none;
    line-height: 1;
}
.trn-header .top-bar .branding .title .trn-name {
    font-size: 11px;
    line-height: 1;
}
.trn-header .top-bar .search {
/*    max-width: 800px;
    width: 800px;*/
    position: relative;
    background-color: rgba(255, 255, 255, 0.16);
    transition: all 0.2s ease;
    border-radius: 2px;
    flex-grow: 1;
    z-index: 5;
}
.trn-header .top-bar .search.has-query {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    background: white;
}
.trn-header .top-bar .search.has-query .search-box .search-icon {
    color: #212121;
}
.trn-header .top-bar .search.has-query .search-box .search-field {
    border-bottom: 1px solid #e5e5e5;
    transition: border 0.2s ease-in;
    color: #212121 !important;
}
.trn-header .top-bar .search.has-query ::-webkit-input-placeholder {
    /* Chrome */
    color: #212121;
}
.trn-header .top-bar .search.has-query :-ms-input-placeholder {
    /* IE 10+ */
    color: #212121;
}
.trn-header .top-bar .search.has-query ::-moz-placeholder {
    /* Firefox 19+ */
    color: #212121;
    opacity: 1;
}
.trn-header .top-bar .search.has-query :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #212121;
    opacity: 1;
}
.trn-header .top-bar .search.opened {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.trn-header .top-bar .search.opened .search-box .search-field {
    border-bottom: 1px solid #e5e5e5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.trn-header .top-bar .search.opened .search-box .search-platforms {
    display: block;
}
.trn-header .top-bar .search.opened .suggestion-list {
    display: block;
}
.trn-header .top-bar .search .search-box {
    width: 100%;
    position: relative;
    z-index: 3;
}
.trn-header .top-bar .search .search-box .search-icon {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 24px;
    z-index: 2;
    pointer-events: none;
    cursor: default;
}
.trn-header .top-bar .search .search-box .search-field {
    border: none;
    padding: 0 0 0 72px;
    background: unset;
    border: unset;
    width: 100%;
    height: 48px;
    z-index: 5;
    color: #efefef !important;
    border-radius: 2px;
    outline: unset;
    font-size: 16px;
    font-weight: 400;
}
.trn-header .top-bar .search .search-box .search-platforms {
    display: none;
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 2;
    font-size: 24px;
    color: #9e9e9e;
    pointer-events: none;
}
.trn-header .top-bar .search .search-box .search-platforms .search-platform {
    margin-left: 8px;
    cursor: pointer;
    pointer-events: all;
}
.trn-header .top-bar .search .suggestion-list {
    user-select: none;
    z-index: 20;
    display: none;
    transition: all 0.2s ease;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    background: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.trn-header .top-bar .search .suggestion-list .suggestion-label {
    color: #9e9e9e;
    display: block;
    padding: 8px 8px 0 8px;
    cursor: default;
}
.trn-header .top-bar .search .suggestion-list ul {
    list-style: none;
    padding: 8px 0;
    margin-bottom: 0;
}
.trn-header .top-bar .search .suggestion-list ul li {
    list-style: none;
    font-size: 16px;
    height: 40px;
    position: relative;
}
.trn-header .top-bar .search .suggestion-list ul li a {
    top: 0px;
    height: 40px;
    position: absolute;
    display: block;
    text-decoration: none;
    color: #212121;
    padding: 6px 16px 6px 72px;
    line-height: 28px;
    width: 100%;
}
.trn-header .top-bar .search .suggestion-list ul li a .ion {
    font-size: 24px;
    position: absolute;
    color: #9e9e9e;
    top: 8px;
    left: 24px;
}
.trn-header .top-bar .search .suggestion-list ul li:hover {
    background-color: #f5f5f5;
}
.trn-header .top-bar .tools {
    min-width: 230px;
    display: flex;
    justify-content: flex-end;
}
.trn-header .top-bar .tools .tools-menu {
    position: relative;
    white-space: nowrap;
}
.trn-header .top-bar .tools .tools-menu.has-submenu.opened:after {
    opacity: 1;
}
.trn-header .top-bar .tools .tools-menu.has-submenu.opened .submenu {
    visibility: visible;
    opacity: 1;
}
.trn-header .top-bar .tools .tools-menu:hover > a {
    color: #efefef;
}
.trn-header .top-bar .tools .tools-menu > a {
    padding: 8px;
    border-radius: 2px;
    font-size: 16px;
    color: rgba(239, 239, 239, 0.8);
    text-decoration: none;
    height: 48px;
    transition: all .2s ease;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.trn-header .top-bar .tools .tools-menu > a .ion {
    font-size: 24px;
    line-height: 1;
    padding-right: 8px;
    pointer-events: none;
}
.trn-header .top-bar .tools .tools-menu > a .text {
    pointer-events: none;
}
.trn-header .top-bar .tools .tools-menu:after {
    content: '';
    background: #212121;
    opacity: 0;
    position: absolute;
    width: 12px;
    height: 12px;
    margin: 6px 0 0 calc(50% - 6px);
    transform: rotate(45deg);
    z-index: 101;
}
.trn-header .top-bar .tools .tools-menu .submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 4px;
    user-select: none;
    min-width: 150px;
    width: 200px;
    display: block;
    margin: 12px 0 20px 0;
    z-index: 100;
    background: #212121;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.trn-header .top-bar .tools .tools-menu .submenu:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: 50;
    top: -12px;
    height: 12px;
}
.trn-header .top-bar .tools .network-menu .submenu {
    width: 390px;
}
.trn-header .top-bar .tools .network-menu .submenu .sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 8px;
}
.trn-header .top-bar .tools .network-menu .submenu .sites .site {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
    height: 120px;
    text-decoration: none;
    color: #efefef;
    margin: 8px 2px;
    text-align: center;
    padding: 8px 6px;
}
.trn-header .top-bar .tools .network-menu .submenu .sites .site .site-logo {
    width: 64px;
    height: 64px;
    padding-right: unset;
    pointer-events: none;
}
.trn-header .top-bar .tools .network-menu .submenu .sites .site .site-name {
    margin-top: 4px;
    font-size: 13px;
    pointer-events: none;
}
.trn-header .top-bar .tools .network-menu .submenu .sites .site:hover {
    background: rgba(255, 255, 255, 0.1);
}
.trn-header .top-bar .tools .network-menu .submenu .more-link {
    text-decoration: none;
    color: #efefef;
    font-size: 16px;
    display: block;
    padding: 8px;
    text-align: center;
    border-top: 1px solid #393939;
}
.trn-header .top-bar .tools .network-menu .submenu .more-link:hover {
    background: rgba(255, 255, 255, 0.1);
}
.trn-header .top-bar .tools .profile-menu .submenu .profile-info {
    margin-top: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    overflow: hidden;
    color: #efefef;
    text-decoration: none;
}
.trn-header .top-bar .tools .profile-menu .submenu .profile-info .avatar-image {
    font-size: 25px;
    text-align: center;
    background: #F1ED62;
    display: block;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 39px;
    border-radius: 50%;
}
.trn-header .top-bar .tools .profile-menu .submenu .profile-info .avatar-image .ion {
    pointer-events: none;
}
.trn-header .top-bar .tools .profile-menu .submenu .profile-info .data {
    margin-left: 10px;
    pointer-events: none;
}
.trn-header .top-bar .tools .profile-menu .submenu .profile-info .data .name {
    font-size: 16px;
    color: #efefef;
    font-weight: bold;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
}
.trn-header .top-bar .tools .profile-menu .submenu .profile-info .data .role {
    line-height: 1;
}
.trn-header .top-bar .tools .profile-menu .submenu .profile-info:hover {
    background: rgba(255, 255, 255, 0.1);
}
.trn-header .top-bar .tools .profile-menu .submenu > ul {
    list-style: none;
    padding: 0 0 8px 0;
    margin: 0;
}
.trn-header .top-bar .tools .profile-menu .submenu > ul > li {
    width: 100%;
}
.trn-header .top-bar .tools .profile-menu .submenu > ul > li.seperator {
    border-bottom: 1px solid #393939;
    padding-top: 8px;
    margin-bottom: 8px;
}
.trn-header .top-bar .tools .profile-menu .submenu > ul > li.seperator:hover {
    background: none !important;
}
.trn-header .top-bar .tools .profile-menu .submenu > ul > li a {
    width: 100%;
    display: block;
    color: #efefef;
    text-decoration: none;
    padding: 8px 16px;
}
.trn-header .top-bar .tools .profile-menu .submenu > ul > li a.supporter {
    color: #F1ED62;
    font-weight: bold;
}
.trn-header .top-bar .tools .profile-menu .submenu > ul > li:hover {
    background: rgba(255, 255, 255, 0.1);
}
.trn-header .navigation-bar {
    max-height: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.trn-header .navigation-bar .main-menu {
    min-height: 48px;
    max-height: 48px;
    display: flex;
    list-style: none;
    user-select: none;
    margin: 0;
    padding: 0;
}
.trn-header .navigation-bar .main-menu > li {
    min-height: 48px;
    height: 48px;
    position: relative;
}
.trn-header .navigation-bar .main-menu > li.active {
    border-bottom: 2px solid white;
}
.trn-header .navigation-bar .main-menu > li.active > a {
    color: #efefef;
    background: rgba(255, 255, 255, 0.1);
}
.trn-header .navigation-bar .main-menu > li.has-submenu.opened:after {
    content: ' ';
}
.trn-header .navigation-bar .main-menu > li.has-submenu.opened .submenu-container {
    display: block;
}
.trn-header .navigation-bar .main-menu > li:after {
    background: #212121;
    position: absolute;
    width: 12px;
    height: 12px;
    margin: 6px 0 0 calc(50% - 6px);
    transform: rotate(45deg);
}
.trn-header .navigation-bar .main-menu > li:hover > a {
    color: #efefef;
}
.trn-header .navigation-bar .main-menu > li > a {
    padding: 0 22px;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(239, 239, 239, 0.8);
    transition: all .2s ease;
}
.trn-header .navigation-bar .main-menu > li > a .ion {
    padding-left: 4px;
    pointer-events: none;
}
.trn-header .navigation-bar .main-menu > li .submenu-container {
    display: none;
    position: absolute;
    right: 50%;
    white-space: nowrap;
}
.trn-header .navigation-bar .main-menu > li .submenu-container.sticky-right {
    right: 100%;
}
.trn-header .navigation-bar .main-menu > li .submenu-container.sticky-left {
    right: 0;
}
.trn-header .navigation-bar .main-menu > li .submenu-container .submenu {
    list-style: none;
    user-select: none;
    min-width: 150px;
    width: 100%;
    display: block;
    margin: 12px 0 20px 50%;
    padding: 8px 0;
    background: #212121;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.trn-header .navigation-bar .main-menu > li .submenu-container .submenu > li {
    width: 100%;
    list-style: none;
}
.trn-header .navigation-bar .main-menu > li .submenu-container .submenu > li a {
    width: 100%;
    display: block;
    color: #efefef;
    text-decoration: none;
    padding: 8px 16px;
}
.trn-header .navigation-bar .main-menu > li .submenu-container .submenu > li:hover {
    background: rgba(255, 255, 255, 0.1);
}
.trn-header .navigation-bar .main-menu > li .submenu-container:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% + 20px);
    left: 100%;
    z-index: -1;
}
@media (max-width: 816px) {
    .trn-header {
        background: #272727 !important;
    }
    .trn-header .top-bar {
        justify-content: space-between;
    }
    .trn-header .top-bar .search {
        //margin: 0 0 0 auto;
    }
    .trn-header .top-bar .search:not(.opened) {
        background: unset;
        flex-grow: unset;
    }
    .trn-header .top-bar .search:not(.opened) .search-box .search-icon {
        left: 16px;
        color: #efefef;
    }
    .trn-header .top-bar .search:not(.opened) .search-field {
        width: 0;
        padding-left: 48px;
    }
    .trn-header .top-bar .search.opened {
        position: relative;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    .trn-header .top-bar .tools {
        min-width: unset;
    }
    .trn-header .top-bar .tools .tools-menu > a {
        text-align: center;
    }
    .trn-header .top-bar .tools .tools-menu > a .ion {
        margin-top: 2px;
        color: #efefef;
        width: 32px;
        padding-right: unset;
    }
    .trn-header .top-bar .tools .tools-menu > a .text {
        display: none;
    }
    .trn-header .navigation-bar ::-webkit-scrollbar {
        display: none;
    }
    .trn-header .navigation-bar .main-menu {
        width: 100%;
        z-index: 0;
        max-height: 48px;
        overflow-y: visible;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .trn-header .navigation-bar .main-menu > li {
        position: unset;
        overflow: visible;
        white-space: nowrap;
    }
    .trn-header .navigation-bar .main-menu > li:after {
        content: unset !important;
    }
    .trn-header .navigation-bar .main-menu > li .submenu-container {
        position: absolute;
        margin-top: -4px;
        left: 10px;
        right: 10px;
        width: calc(100vw - 14px);
    }
    .trn-header .navigation-bar .main-menu > li .submenu-container:after {
        content: unset;
    }
    .trn-header .navigation-bar .main-menu > li .submenu-container .submenu {
        margin-left: 0;
    }

    .trn-header.nav-up {
        top: -190px;
    }
}
@media (max-width: 450px) {
    .trn-header .top-bar .branding {
        min-width: 200px;
    }
    .trn-header .top-bar .branding .logo {
        padding: 8px 0 8px 0;
    }
    .trn-header .top-bar .branding .logo img {
        height: 26px;
    }
    .trn-header .top-bar .tools .tools-menu {
        position: unset;
    }
    .trn-header .top-bar .tools .tools-menu .submenu {
        position: absolute;
        margin-top: -4px;
        left: 10px;
        right: 10px;
        width: calc(100vw - 14px);
    }
    .trn-header .navigation-bar {
        overflow: visible;
    }
    .trn-header .navigation-bar .main-menu {
        overflow-y: visible;
    }
    .trn-header .navigation-bar .main-menu > li {
        position: unset;
        overflow: visible;
    }
    .trn-header .navigation-bar .main-menu > li:after {
        content: unset;
    }
    .trn-header .navigation-bar .main-menu > li .submenu-container {
        position: absolute;
        margin-top: -4px;
        left: 10px;
        right: 10px;
        width: calc(100vw - 14px);
    }
    .trn-header .navigation-bar .main-menu > li .submenu-container:before {
        content: unset;
        opacity: 0;
    }
    .trn-header .navigation-bar .main-menu > li .submenu-container .submenu {
        margin-left: 0;
    }
}
@media (max-width: 350px) {
    .trn-header .top-bar .branding {
        min-width: 130px;
    }
    .trn-header .top-bar .branding .logo {
        display: none;
    }
}
::-webkit-input-placeholder {
    /* Chrome */
    color: #efefef;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #efefef;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #efefef;
    opacity: 1;
}
:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #efefef;
    opacity: 1;
}

.menuButton{
    justify-content: center;
}

.menuButton--open{
    border-bottom: 1px solid #fff;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.navM{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: #0c0b30;
    padding: 10px;
    //font-family: luckiest guy,Lato,Roboto,Calibri,Arial;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    color: #fff;
}

.navM__row{
    align-items: center;
}

.navM__item{
    padding-bottom: 10px;
}

@media (min-width: 620px) {
    .navM__item{
        padding-bottom: 0px;
        padding-left: 15px;
    }
}

.navM__item:before {
    content: "\2022  ";
    visibility: visible;
}

.navM__item:after {
    content: "  \2022";
    visibility: visible;
}

@media (min-width: 620px) {
    .navM__item:before {
        content: "\2022  ";
        visibility: hidden;
    }

    .navM__item:hover:before {
        content: "\2022  ";
        visibility: visible;
    }

    .navM__item:after {
        content: "  \2022";
        visibility: hidden;
    }

    .navM__item:hover:after {
        content: "  \2022";
        visibility: visible;
    }
}
.navM__item a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 200;
}
.navM__item a:hover{
    text-decoration: none;
}

.navM__container{
    display: none;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.navM__container--open{
    display: flex;
}

@media (min-width: 992px) {
    .navM__container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media (min-width: 620px) {
    .navM__container{

    }
}

.fortLogo{
    height: 1.5em;
}

.main{
    position:relative;
    margin-top: 200px;
    background-color: #1e1e1e;
}

.body{
    background-color: #1e1e1e;
}

.top-bar__text{
    margin-bottom: 10px;
}

.news-holder{
    margin-bottom: 30px;
}
/* player */

.player{
    color: #fff;
    margin-top: 90px;
}
@media (min-width: 630px) {
    .player{
        margin-top: 0px;
    }
}

.player__name{
    margin-bottom: 30px;
}

.player__main{
    text-align: center;
}

.player__name__bigH{
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #3c294f;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.player__today{
    margin-bottom: 30px;
}

.player__today__h{
    position: relative;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.player__today__h hr{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0.8em;
    z-index: 0;
}

.player__today__h__text{
    background-color: #1e1e1e;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 13;
    position: relative;
    font-weight: 500;
}

.player__today__main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player__today__main__container{
    //padding-left:10px;
    //padding-right:10px;
}

.player__today__main__h{
    font-weight: 500;
}

.player__all__gameMode{
    border: 1px solid #363636;
    border-radius: 10px;
    padding: 10px;
}

.player__all__cont{
    border: 1px solid #3c294f;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.addButton{
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #636363;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 500;
    box-shadow: 5px 5px 10px #281d40;
    cursor: pointer;
}

.addButton:hover{
    box-shadow: 5px 5px 20px #281d40;
    background-color: #4e4e4e;
}

.addButton:active{
    box-shadow: none;
}

.addButton__a{
    color: #fff;
}
.addButton__a:hover{
    color: #fff;
    text-decoration: none;
}

.theory__orderBtn{
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #eee;
    color: #1e1e1e;
    font-weight: 500;
    margin-bottom: 20px;
}
.theory__a:hover .theory__orderBtn{
    background-color: #ddd;
}
.theory__a:hover{
    text-decoration-color:#1e1e1e;
}

.theory__h__head{
    //text-decoration: underline;
}
.theory__h__text{
    color: #fff;
}

.theory__main__con{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ddd;
}
.theory__vote__circle{
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    //text-align: center;
    border-radius: 50%;
    background: #fff;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1.5em;
    position: relative;
    margin-left: .5em;
}

.theory__vote__circle:hover {
    background-color: #ddd;
    font-weight: 600;
}

.theory__vote__circle:active {
    background-color: #bbb;
}


.theory__vote__circle a{
    position: absolute;
    top: -.25em;
    right: .25em;
    color: #1e1e1e;
}


.theory__vote__circle a:hover{
    text-decoration: none;
    color: #1e1e1e;
}

.theory__vote__likes{
    display: flex;
    align-items: center;
}
.theory__footerCon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    colod: #ddd;
}

.theory__creator{
    font-style: italic;
}

.map{
    z-index: 0;
}

.grid-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.grid-item {
    /*padding: 10px;*/
    margin: 5px;
    font-size: 30px;
    text-align: center;
}

.cursor-pointer{
    cursor: pointer;
}

.h3--h1{
    font-size: 2.5rem;
}

.abtlikebox {
    background: url(https://4.bp.blogspot.com/-mMtB2ANqowQ/T6es-PuSR2I/AAAAAAAAAjM/LDamrUnMJJc/s320/fb1-right.png) no-repeat scroll left center transparent !important;
    float: right;
    height: 270px;
    padding: 0 5px 0 46px;
    width: 245px;
    z-index: 99999;
    position: fixed;
    right: -199px;
    top: 20%;
    transition: transform 1s;
}

.abtlikebox:hover {
    transform: translateX(-280px);
}

.roullete__label{
    display: inline-block;
    padding: .4rem .4rem;
    border-radius: 30px;
    text-align: center;
    background-color: #2d2834;
    cursor: pointer;
    transition: box-shadow .1s;
}

.generator__select__link{
    background-color: #2d2834;
    border: 8px dotted #ba6637;
    border-radius: 20px;
    padding: .25rem 1.5rem;
    color: #e5e5e5;
    font-size: 2rem;
    font-weight: 700;
    transition: box-shadow .1s;
}

.generator__select__link:hover{
    text-decoration: none;
    color: #e5e5e5;
    box-shadow: 0 0 20px #a0852d7d;
    border-color: #e7ad4a;
}

.roullete__label:hover{
    box-shadow: 0 0 20px #a0852d7d;
}

.roullete__label:hover button{
    border-color: #e7ad4a;
}

.img--profile{
    width: 100%;
    height: auto;
    max-width: 240px;
}
.img--rotate{
    transform: rotate(270deg);
}

.page-description {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}